<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  
  <targets>
    <target xsi:type="Database"
      name="database"
      connectionStringName="default"
      commandText="INSERT INTO [dbo].[Log] ([Date], [Level], [Message], [Exception], [Stacktrace], [Machinename], [Username], [Source], [Logger]) VALUES (@Date, @Level, @Message, @Exception, @stacktrace, @MachineName, @Username, @source, @logger);">

      <parameter name="@Date" layout="${longdate}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Exception" layout="${exception}" />
      <parameter name="@stacktrace" layout="${exception:stacktrace}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Username" layout="${windows-identity:domain=true}" />
      <parameter name="@source" layout="${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true}" />
      <parameter name="@logger" layout="${logger}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="database"></logger>
  </rules>
</nlog>
